.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.mb-16 {
  margin-bottom: 16px;
}

.action-bar {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}
