.branch-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.branch-detail-subtext {
  font-size: 12px;
  color: rgb(0 0 0 / 45%);
}

.branch-detail-actions {
  display: flex;
  justify-content: flex-end;
}
