<layout-default [options]="options" [asideUser]="asideUserTpl" [content]="contentTpl" [customError]="null">
  <layout-default-header-item direction="right">
    <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
      <nz-avatar nzSize="small" class="alain-default__nav-item-avatar"></nz-avatar>
      <span class="alain-default__nav-item-text">Admin</span>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="logout()">{{ 'menu.account.logout' | i18n }}</li>
      </ul>
    </nz-dropdown-menu>
  </layout-default-header-item>
  <ng-template #asideUserTpl>
    <div class="alain-default__aside-user">
      <nz-avatar class="alain-default__aside-user-avatar" />
      <div class="alain-default__aside-user-info">
        <strong>Admin</strong>
      </div>
    </div>
  </ng-template>
  <ng-template #contentTpl>
    <router-outlet />
  </ng-template>
</layout-default>
