<div class="modal-header">
  <div class="modal-title">
    {{ isEdit ? ('app.form.update' | i18n) : ('app.inventory.category.create' | i18n) }}
  </div>
</div>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzRequired]="true">
      {{ 'app.inventory.category.categoryName' | i18n }}
    </nz-form-label>

    <nz-form-control [nzErrorTip]="'app.error.inventoryCategoryName.required' | i18n">
      <input nz-input formControlName="categoryName" [placeholder]="'app.inventory.category.categoryNamePlaceholder' | i18n" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>
      {{ 'app.inventory.category.description' | i18n }}
    </nz-form-label>

    <nz-form-control>
      <textarea
        nz-input
        formControlName="description"
        [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        [placeholder]="'app.inventory.category.descriptionPlaceholder' | i18n"
      >
      </textarea>
    </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">
      {{ 'app.form.cancel' | i18n }}
    </button>

    <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [disabled]="form.invalid">
      {{ isEdit ? ('app.form.update' | i18n) : ('app.form.create' | i18n) }}
    </button>
  </div>
</form>
