<page-header [title]="'app.inventory.transaction.title' | i18n" />

<nz-card>
  <div class="toolbar">
    <div class="toolbar-left">
      <nz-input-group nzPrefixIcon="search">
        <input
          nz-input
          [(ngModel)]="filter.inventoryName"
          [placeholder]="'app.inventory.transaction.search' | i18n"
          (keyup.enter)="search()"
          style="width: 240px"
        />
      </nz-input-group>

      <nz-select
        [(ngModel)]="filter.transactionType"
        nzAllowClear
        [nzPlaceHolder]="'app.inventory.transaction.type' | i18n"
        style="width: 180px"
      >
        @for (type of transactionTypes; track type) {
          <nz-option
            [nzValue]="type"
            [nzLabel]="'app.inventory.transaction.type.' + type.toLowerCase() | i18n">
          </nz-option>
        }
      </nz-select>

      <nz-select
        [(ngModel)]="filter.transactionDirection"
        nzAllowClear
        [nzPlaceHolder]="'app.inventory.transaction.direction' | i18n"
        style="width: 160px"
      >
        <nz-option
          nzValue="IN"
          [nzLabel]="'app.inventory.transaction.direction.in' | i18n">
        </nz-option>

        <nz-option
          nzValue="OUT"
          [nzLabel]="'app.inventory.transaction.direction.out' | i18n">
        </nz-option>
      </nz-select>

      <button nz-button nzType="primary" (click)="search()">
        <span nz-icon nzType="search"></span>
        {{ 'app.inventory.transaction.search.button' | i18n }}
      </button>

      <button nz-button (click)="reset()">
        {{ 'app.inventory.transaction.reset.button' | i18n }}
      </button>
    </div>

    <button nz-button nzType="primary" (click)="openCreate()">
      <span nz-icon nzType="plus"></span>
      {{ 'app.inventory.transaction.create' | i18n }}
    </button>
  </div>

  <st
    [columns]="columns"
    [data]="transactions"
    [loading]="loading"
    [total]="total"
    [pi]="currentPage"
    [ps]="pageSize"
    [page]="{
      show: true,
      showSize: true,
      front: false
    }"
    (change)="onSTChange($event)"
  >

    <ng-template st-row="direction" let-item>
      <nz-tag [nzColor]="item.transactionDirection === 'IN' ? 'success' : 'error'">
        {{ ('app.inventory.transaction.direction.' + item.transactionDirection.toLowerCase()) | i18n }}
      </nz-tag>
    </ng-template>

    <ng-template st-row="type" let-item>
      <nz-tag nzColor="blue">
        {{ ('app.inventory.transaction.type.' + item.transactionType.toLowerCase()) | i18n }}
      </nz-tag>
    </ng-template>

  </st>
</nz-card>
