<page-header [title]="'app.employee.title' | i18n" />

<nz-card>
  <div class="toolbar">
    <button nz-button nzType="primary" [disabled]="!canAdd" (click)="openAdd()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      {{ 'app.employee.add' | i18n }}
    </button>
  </div>

  <st #st [columns]="columns" [data]="data" [loading]="loading" [page]="{ show: true, showSize: true }" [scroll]="{ x: '2100px' }">
    <ng-template st-row="status" let-item>
      <nz-tag [nzColor]="statusColor(item.status)">{{ 'app.employee.status.' + item.status | i18n }}</nz-tag>
    </ng-template>
  </st>
</nz-card>
