<div class="modal-header">
  <div class="modal-title">
    {{ isEdit ? ('app.form.update' | i18n) : ('app.inventory.create' | i18n) }}
  </div>
</div>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzRequired]="!isEdit">
      {{ 'app.inventory.inventoryName' | i18n }}
    </nz-form-label>

    <nz-form-control [nzErrorTip]="'app.error.inventoryName.required' | i18n">
      <input nz-input formControlName="inventoryName" [placeholder]="'app.inventory.inventoryNamePlaceholder' | i18n" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="!isEdit">
      {{ 'app.inventory.category' | i18n }}
    </nz-form-label>

    <nz-form-control [nzErrorTip]="'app.error.inventoryCategory.required' | i18n">
      <nz-select formControlName="inventoryCategoryId" [nzPlaceHolder]="'app.inventory.categoryPlaceholder' | i18n">
        @for (category of categoryOptions; track category.id) {
          <nz-option [nzValue]="category.id" [nzLabel]="category.categoryName" />
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="!isEdit">
      {{ 'app.inventory.unit' | i18n }}
    </nz-form-label>

    <nz-form-control [nzErrorTip]="'app.error.unit.required' | i18n">
      <input nz-input formControlName="unit" [placeholder]="'app.inventory.unitPlaceholder' | i18n" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>
      {{ 'app.form.description.label' | i18n }}
    </nz-form-label>

    <nz-form-control>
      <textarea
        nz-input
        formControlName="description"
        [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        [placeholder]="'app.form.description.placeholder' | i18n"
      >
      </textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">
      {{ 'app.inventory.minimumQuantity' | i18n }}
    </nz-form-label>

    <nz-form-control [nzErrorTip]="'app.error.minimumQuantity.required' | i18n">
      <nz-input-number formControlName="minimumQuantity" class="full-width" [nzMin]="0" />
    </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">
      {{ 'app.form.cancel' | i18n }}
    </button>

    <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [disabled]="form.invalid">
      {{ isEdit ? ('app.form.update' | i18n) : ('app.form.create' | i18n) }}
    </button>
  </div>
</form>
